@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*home*/
.test__btn {
  text-decoration: none;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

/*resto*/
.btn__resto {
  display: flex;
  margin: 1rem;
  justify-content: center;
}
.btn__resto .btn__item {
  text-decoration: none;
  padding: 1rem 2.5rem;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.menulist__confirmation {
  display: none;
}

.menulist__item {
  cursor: pointer;
}
.menulist__item:hover .menulist__price {
  -webkit-animation: RightLeft 1s ease 0s 1 normal forwards;
          animation: RightLeft 1s ease 0s 1 normal forwards;
  padding-right: 3rem;
}
.menulist__item:hover .menulist__confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  color: #99E2D0;
  -webkit-animation: RightLeft 1s ease 0s 1 normal forwards;
          animation: RightLeft 1s ease 0s 1 normal forwards;
}
.menulist__item:hover .menulist__confirmation i {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: rotation 400ms linear;
          animation: rotation 400ms linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes RightLeft {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes RightLeft {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  background-color: #FFF;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}
.header__logo {
  text-align: center;
  margin: 0;
  font-family: Shrikhand, "cursive";
  font-weight: 400;
}

.underheader {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: "Roboto", sans-serif;
  color: #383838;
}
.underheader i {
  padding-right: 1rem;
}

.test {
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: #fafafa;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.test__title {
  font-size: 1.5rem;
}
.test__subtitle {
  font-weight: 400;
  padding-bottom: 1rem;
}

.fonction {
  background-color: white;
  padding: 2rem 1rem;
}
.fonction__title {
  margin-left: 1REM;
  text-align: start;
}
.fonction__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.fonction__number {
  position: relative;
  left: 0.9rem;
  top: 1rem;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  text-align: center;
  color: #FFF;
}
.fonction__bg {
  padding: 1.5rem;
  width: 80%;
  margin-top: 2rem;
  background-color: #EAEAEA;
  border-radius: 25px;
}
.fonction__bg:hover {
  background-color: #F5EDFF;
}
.fonction__bg:hover i {
  color: #9356DC;
}
.fonction i {
  padding-right: 1rem;
  padding-left: 0.5rem;
  color: grey;
}
.fonction__bold {
  font-weight: bold;
}

.restaurants {
  background-color: #FFF;
}
.restaurants__title {
  margin-left: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__badge {
  background-color: #99E2D0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  font-weight: bold;
}
.card__content {
  display: block;
  position: relative;
  background-color: #FFF;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  border-radius: 20px;
}
.card__content a {
  text-decoration: none;
  color: black;
}
.card__text {
  display: flex;
  flex-direction: column;
}
.card__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.card__subtitle {
  margin-top: 0;
  margin-left: 1rem;
}
.card__test {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
}
.card i {
  font-size: 2rem;
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
}

.footers {
  background-color: #353535;
}
.footers__flex {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footers__logo {
  font-family: Shrikhand, "cursive";
  color: #FFF;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}
.footers__list {
  list-style: none;
  padding: 0;
}
.footers a {
  text-decoration: none;
  color: #FFF;
}
.footers li {
  padding-top: 1rem;
}
.footers li i {
  padding-right: 1rem;
}

/**/
@media screen and (min-width: 992px) {
  .breakpoint {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonction__flex {
    padding: 0 1rem 0 0;
  }
  .card {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
  }
  .card__content {
    flex-basis: 40%;
  }
  .card__test {
    min-width: 300px;
  }
  /**/
  .footers {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .footers__flex {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .footers ul {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .footers ul li {
    padding: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .card__content {
    flex-basis: 0;
  }
  .restaurants {
    background-color: #EAEAEA;
    padding: 2rem 0;
  }
  .restaurants__title {
    margin-left: 3.3REM;
    text-align: start;
  }
  .restaurants .breakpoint {
    justify-content: start;
  }
  .fonction {
    background-color: white;
    padding: 2rem 0rem;
  }
  .fonction__title {
    margin-left: 3.3REM;
    text-align: start;
  }
  .fonction__title__bg {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.header i {
  position: absolute;
  bottom: 1.8rem;
  font-size: 1.5rem;
}

.resto {
  max-width: 100%;
  max-height: 30rem;
}
.resto img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.resto__name {
  background-color: #EAEAEA;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.resto__name i {
  font-size: 1.5rem;
}
.resto__title {
  font-family: Shrikhand, "cursive";
}

.mainmenu {
  margin-top: -4rem;
  height: 1000px;
  border-radius: 2rem 2rem 0 0;
  background-color: #EAEAEA;
  z-index: 1;
  position: relative;
}

.onlyindex4 {
  height: 1080px;
}

.menuflex {
  display: flex;
  flex-direction: column;
}

.menulist {
  padding: 0 1rem;
  max-width: 100%;
}
.menulist__title {
  border-bottom: 4px solid #99E2D0;
  text-transform: uppercase;
  width: 3rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: Roboto, "sans-serif";
}
.menulist__item {
  display: flex;
  max-width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #FFF;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
}
.menulist__text {
  width: 90%;
  font-family: Roboto;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menulist__text h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menulist__text p {
  font-size: 0.938rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menulist__price {
  width: 10%;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1400px) {
  .mainmenu {
    width: 70%;
    margin: -4rem auto 0 auto;
  }
  .menuflex {
    padding: 0 10rem;
  }
  .resto__name {
    padding: 1rem 10rem;
    justify-content: center;
  }
  .resto__title {
    padding-right: 1rem;
  }
  .menulist {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */