/*home*/
.test{
&__btn{
    text-decoration: none;        
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }

}


/*resto*/
.btn__resto{
    display: flex;
    margin: 1rem;
    justify-content: center;
    .btn__item{
        text-decoration: none;       
        padding: 1rem 2.5rem;     
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        border-radius: 20px;
        color: white;
        cursor: pointer;
        
    }
}