


body {
    font-family: sans-serif;
    margin: 0;
   

}

.header {
    background-color: $color-white;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    &__logo {      
       text-align: center;
       margin: 0;
       font-family: Shrikhand,"cursive";
       font-weight: 400;
    }
}

.underheader {
    background-color: $color-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    color: darken($color: $color-grey, $amount: 70%);
    i {
        padding-right: 1rem;
    }   
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: #fafafa;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    &__title{
        font-size: 1.5rem;
    }
    &__subtitle {
        font-weight: 400;
        padding-bottom: 1rem;
      }
}


.fonction{
    background-color: white;
    padding: 2rem 1rem;
    &__title{
            margin-left: 1REM;
            text-align: start;
        
    }
    &__flex{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }
    &__number{
        position: relative;
        left: 0.9rem;
        top: 1rem;
        background-color: $color-primaire;
        width: 24px;
        height: 24px;
        border-radius: 25px;
        text-align: center;
        color: $color-white;
    }
    &__bg{
        padding: 1.5rem;
        width: 80%;
        margin-top: 2rem;
        background-color: $color-grey;
        border-radius: 25px;  
        &:hover{
            background-color: #F5EDFF;
            i{
                color: $color-primaire;
            }
        }

    }
    i{
        padding-right: 1rem;
        padding-left: .5rem;
        color: grey;
    }
    &__bold{
        font-weight: bold;
    }
}

.restaurants{
    background-color: $color-white;
    &__title{
        margin-left: 1rem;
    }
}

.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &__badge{
            background-color: $color-tertiaire;
            color: #008766;
            padding: .5rem;
            border-radius: .125rem;
            position: absolute;
            top: 1rem;
            right: .75rem;
            font-weight: bold;
            
        }
    
    
    &__content{
        display: block;
        position: relative;
        background-color: $color-white;
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
        margin-bottom: 1rem;
        border-radius: 20px;
        a{
            text-decoration: none;
            color: black;
        }    
    }
    &__text{
        display: flex;
        flex-direction: column;
    }
    &__title{
        margin-top: 1rem;
        margin-bottom: .5rem;
        margin-left: 1rem;
    }
    &__subtitle{
       margin-top: 0;
       
       margin-left: 1rem;
        

    }
    &__test{
        display: flex;
        position: relative;
        display: flex;
        align-items: center;
    }
    i{
        font-size: 2rem;
        top: 1.5rem;
        right: 1.5rem;
        position: absolute;
    }
}


.footers{
    background-color:#353535;
    &__flex{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    &__logo{
        font-family: Shrikhand,"cursive";
        color: $color-white;
        font-size: 1.5rem;
        margin: 0;
        font-weight: 500;
    }
    &__list{
        list-style: none;
        padding: 0;

    }
    a{
        text-decoration: none;
        color: $color-white;
    }

    li{
        padding-top: 1rem;
        i{
            padding-right: 1rem;
        }
    }
}


/**/
@media screen and (min-width: 992px){
    .breakpoint{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .fonction__flex {
        padding: 0 1rem 0 0;
    }
    .card{
        flex-direction: row;
        flex-wrap: wrap;
        
        gap: 3%;
        justify-content: center;
        &__content{
          flex-basis: 40%;
        }
        &__test{
            min-width: 300px;
        }

     }
     /**/
     .footers{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        &__flex{
            align-items: center;
            flex-direction: row-reverse;
            justify-content: center;
        }
          

        
        ul{
            align-items: center;
            display: flex;
            flex-direction: row;
            li{
                padding: 2rem;
            }
        }

  
     

     }

}
    

@media screen and (min-width: 1400px){
    .card{
        &__content{
            flex-basis: 0;
        }
    }
    .restaurants{
            background-color: $color-grey;
            padding: 2rem 0;
            &__title {
                margin-left: 3.3REM;
                text-align: start;
            }

       

        .breakpoint{
            justify-content: start;
        }

    }
    .fonction{
        background-color: white;
        padding: 2rem 0rem;
        &__title {
            margin-left: 3.3REM;
            text-align: start;
    
        &__bg {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
    
    }
    
}
